<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>
        <link rel="shortcut icon" type="image/png" href="https://listimg.pinclipart.com/picdir/s/519-5198165_pepehands-png-clipart.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Matthew T.P. Solomon</title>
        <style>
            * {
                margin: 0;
                padding: 0;
            }

            table, td, th {
                border: 1px solid black;
                border-collapse: collapse;
            }

            body, html {
                color: black;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 50vh;
            }

            body {
                background-image: url(https://images.alphacoders.com/100/1006753.png);
                background-size: cover;
                background-position: center;
            }

            

            .center .avatar img {
                border-radius: 50%;
                height: 140px;
                width: 140px;
                margin-top: 5%;
                object-position: 0 -8px;
                object-fit: cover;

            }
            .center {
                width: 60%;
                background-image: url(https://features.japantimes.co.jp/wp-content/uploads/2019/07/still-sub-8.jpg);
                height: 130vh;
                text-align: center;
                border-radius: 6px;
            }

            .fa {
                padding: 20px;
                font-size: 30px;
                width: 50px;
                text-align: center;
                text-decoration: none;
              }
              
              .fa:hover {
                opacity: 0.7;
              }
              
              .fa-instagram {
                background: #ffffff;
                color: rgb(250, 85, 85);
              }
              
              .fa-gitlab {
                background: #ffffff;
                color: orangered;
              }

              .fa-linkedin {
                background: #ffffff;
                color: blue;
              }
              
        </style>
    </head>
    <body>
        <div class="center">
            <div class="avatar">
                <img src="https://instagram.fcgk23-1.fna.fbcdn.net/v/t51.2885-19/s320x320/120001061_126666902188771_1503669047854425620_n.jpg?_nc_ht=instagram.fcgk23-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=kQCOmgTn6WYAX-_hiW5&oh=99f1519b13a135c89dca6c8df626cd14&oe=5F93950E" alt="No pic">
            </div>
            <div class="content">
                <h1>Matthew T.P. Solomon</h1>
                <h3>Fakultas Ilmu Komputer UI</h3>
                <p> NPM : 1906308500<br>
                    Hobi : linguistic, alin, sejarah mesopotamia<br>
                    Angkatan : 2019<br>
                    Tempat, Tanggal Lahir : Jakarta, 30 Oktober 2001<br>
                    Ayah : E. Siregar<br>
                    Ibu : A.R. Theresia<br>
                    Institusi : Universitas Indonesia
                </p>
            </div>
            <div class="content">
                <h4>----------------<>----------------</h4>
                <h4>Riwayat Pendidikan</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Pendidikan</th>
                            <th>Nama Institusi</th>
                            <th>Rentang waktu</th>
                            <th>Daerah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Perkuliahan Jurusan Ilmu Komputer</th>
                            <th>Universitas Indonesia</th>
                            <th>2019 - Sekarang</th>
                            <th>Depok/Jakarta Selatan</th>
                        </tr>
                        <tr>
                            <th>Sekolah Menengah Atas</th>
                            <th>SMAN 81 Jakarta</th>
                            <th>2016 - 2019</th>
                            <th>Jakarta Timur</th>
                        </tr>
                        <tr>
                            <th>Sekolah Menengah Pertama</th>
                            <th>SMPK 5 Penabur</th>
                            <th>2013 - 2016</th>
                            <th>Jakarta Timur</th>
                        </tr>
                        <tr>
                            <th>Sekolah Dasar</th>
                            <th>SDK 4 Penabur</th>
                            <th>2010 - 2016</th>
                            <th>Jakarta Timur</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                <h5>Contact Me</h5>
            </div>
            <div class="social">
                <a href="https://gitlab.com/matthewsolomon_"><i class="fa fa-gitlab"></i></a>
                <a href="https://www.linkedin.com/mwlite/in/matthew-tumbur-parluhutan-solomon-siregar-55477b1ab"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/matthewsolomon_/?hl=en"><i class="fa fa-instagram"></i></a>
            </div>
            <div style="margin-top: 140px;">
                <h2>Je suis content que vous êtes venu dans mon site-internet. Je vous remercie</h2>
            </div>
        </div>
    </body>
</html>